# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
*.egg-info/

# Environnements virtuels
venv/
.venv/
env/

# Secrets
.streamlit/secrets.toml
.env

# OS / Editeurs
.DS_Store
.vscode/
.idea/

# Logs
*.log
